streamlit==1.42.0

langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.17

langgraph==0.2.70

langchain-google-genai==1.0.10
google-generativeai==0.8.3

tavily-python==0.5.0
python-dotenv
